@import url("https://fonts.googleapis.com/css?family=Asap:400,500,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #24272e;
}

.rsp {
  display: block;
}

header {
  background: whitesmoke;
  padding: 20px;
}
header > h1 {
  color: #25272e;
  text-align: center;
  font-family: "Asap", sans-serif;
}
.scoreboard {
  border: 3px solid white;
  width: 200px;
  margin: 20px auto;
  color: white;
  font-size: 46px;
  padding: 15px 20px;
  border-radius: 4px;
  text-align: center;
  font-family: "Asap", sans-serif;
  position: relative;
}

.badge {
  background: #e2584d;
  color: white;
  font-size: 14px;
  padding: 2px 10px;
  font-family: "Asap", sans-serif;
}
#user-label {
  position: absolute;
  top: 30px;
  left: -28px;
}

#comp-label {
  position: absolute;
  top: 30px;
  right: -30px;
}
.result {
  color: white;
  font-size: 30px;
}

.result > p {
  text-align: center;
  font-family: "Asap", sans-serif;
  font-weight: bold;
}
.choices {
  margin: 35px;
  text-align: center;
  border-bottom: 20px;
}

.avatar-face {
  width: 150px;
  height: auto;
  border-radius: 4px;
}
.resize:hover {
  width: 140px;
}

.choice {
  border: 4px solid white;
  display: inline-block;
  margin: 0 30px 0px;
  border-radius: 4px;
}

.resize {
  width: auto;
  height: auto;
  border-radius: 4px;
  transition: width 0.3s;
}

.choice:hover {
  cursor: pointer;
}

#action-message {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: white;
  font-family: "Asap", sans-serif;
}

.avatar {
  text-align: center;
  margin: 20px;
}

.hits {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: white;
  font-family: "Asap", sans-serif;
  margin-top: 20px;
}

/* Result overlay */

#overlay {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: white;
  font-family: "Asap", sans-serif;
  background-color: rgba(0, 0, 0, 0.8); /* Black background with opacity */
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.result-lose {
  margin: 350px;
}

.result-lose > p {
  padding: 10px;
}

#user-choice:hover {
  transform: translateX(200px);
}

#user-choice {
  transition: all 1.5s ease;
  display: none;
}

/* hover transitions for rock paper and scissors */
#r {
  width: auto;
  height: auto;
  border-radius: 4px;
  transition: transform 0.2s;
}
#r:hover {
  content: url("assets/images/srock-attack.png");
  transform: scale(1.2);
  transition: transform 0.8s ease-in-out;
}

#p {
  width: auto;
  height: auto;
  border-radius: 4px;
  transition: transform 0.2s;
}
#p:hover {
  content: url("assets/images/spaper-attack.png");
  transform: scale(1.2);
  transition: transform 0.5s ease;
}

#s {
  width: auto;
  height: auto;
  border-radius: 4px;
  transition: transform 0.2s;
}
#s:hover {
  content: url("assets/images/scissors-close.png");
  transform: scale(1.2);
  transition: transform 0.5s ease;
}

.transform {
  transition: all 2s ease;
}
.transform:hover {
  transform: scale(1.2);
}

.green-glow {
  border: 4px solid #4dcc7d;
  box-shadow: 0 0 10px #31b43a;
}

.red-glow {
  border: 4px solid #fc121b;
  box-shadow: 0 0 10px #d01115;
}

.grey-glow {
  border: 4px solid #464647;
  box-shadow: 0 0 10px #25292b;
}
